* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}
.text-orange{
    color: #FD6E0A;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.section-divider{
    margin-top: 130px;
}
.header-navbar {
    background: #FFF8F3;
    width: 100%;
    height: auto;
}
.header-controls{
    display: flex;
    justify-content: space-between;
}
.head-logo h1{
    padding-top: 51px;
}
.header-menu ul li{
    display: inline-block;
    padding-right: 51px;
    font-size: 20px;
    padding-top: 68px;
}
.header-menu li a{
    color: #474747;
}
.button-primary{
    background-color: #FD6E0A;
    padding: 12px 25px;
    color: white;
}
#three a{
    color: #FFF8F3;
}
/* banner starts here */
.header-navbar {
    background-image: url(../portfolio-resources/images/developer.png), url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
    margin-bottom: 0px;
}
/* banner content starts here */
.banner-content{
    margin-top: 185px;
}
.banner-content-text h2{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner-content-text h1{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}
.banner-content-text p{
    font-weight: 400;
    font-size: 17px;
    color: #757575;
}
.banner-content-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-content{
    width: 827px;
    height: 288px;
    text-align: center;
    padding: 131px 156px;
}
.about-content h3{
    font-size: 35px;
    color: #181818;
}
.about-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
.font-w{
    font-weight: 700;
}
.about-personal-info-controls{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.title-primary{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}
.paragraph-primary p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    text-align: center;
}
.this-text-controls{
    width: 909px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
/* what i do */
.working-tree-content{
    width: 201px;
    line-height: 28px;
}
.working-tree-single{
    width: 267px;background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.working-tree-content{
    padding: 30px;
}
.working-tree-controls{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
/* Rezume summery starts here */
.education-control h2{
    font-size: 33px;
    font-weight: 800;
    color: #414141;
}
.education-control h3{
    font-size: 28px;
    font-weight: 800;
    color: #414141;
}
.ins-name{
    font-size: 22px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}
.education-para{
    font-weight: 400;
    font-size: 17px;
    color: #757575;
    margin-bottom: 22px;
}
.education-controls-content{
    width: 511px;
    line-height: 28px;
    margin-top: 20px;
}
.skill-main-controls{
    display: flex;
    justify-content: space-between;
}